<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shakti.yodhini_2o">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/yodhini_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yodhini_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yodhini_2O"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All Activities used in the app -->
        <activity android:name=".DashboardActivity" android:exported="true" />
        <activity android:name=".EmergencyContactActivity" android:exported="true" />
        <activity android:name=".ProfileActivity" android:exported="true" />
        <activity android:name=".AdmireActivity" android:exported="true" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".NextActivity" android:exported="true" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".WomenProfileActivity" android:exported="true" />
    </application>

</manifest>
